
{%extends "OHWebInterface/base.html"%}

{%block pagecontent%}
</select>
<div id='test' class='test' >
	<form action="submit" method="post" id='formcont'>
	{%csrf_token%}
	{%for field in form%}
		<div class="formdiv">
					<span class='formcontlabel'>
					{{field.label_tag}}</span>
					<br>
					<span class="formcontinp">{{field}}</span>
					
					<div class="errors">{{form.errors}}</div>
					<p>
		{%endfor%}
		<div id="pricetagforms">
		{%for field in pricetag%}
					<span class='formcontlabel'>
					{{field.label_tag}}</span>
					<br>
					<span class="formcontinp">{{field}}</span>
					
					<div class="errors">{{form.errors}}</div>
					<p>

		{%endfor%}
	</div>
	<p>
		<input type='submit' value='Submit Request'/>
		</div>
	</form>
</div>
{%endblock pagecontent%}

{%block extra_js%}
<script type="text/JavaScript">
function togglePricetagForm(){
	var selectedform=document.getElementById("id_sides")
	var form= document.getElementById("pricetagforms")	
	if (selectedform[3].selected==true || selectedform[4].selected==true){
		form.className='visible'
	}
	else{
		form.className=''
	}
	// if form.className
}
</script>
{% endblock extra_js %}