
{%extends "OHWebInterface/base.html"%}

{%block pagecontent%}
</select>
<div id='test' class='test'>
	<form action="submit" method="post" id='formcont'>
	{%csrf_token%}
	{%for field in form%}
		<div class="formdiv">
					<span class='formcontlabel'>
					{{field.label_tag}}</span>
					<br>
					<span class="formcontinp">{{field}}</span>
					
					<div class="errors">{{form.errors}}</div>
					<p>
				{%endfor%}
				<input type='submit' value='Submit Request'></input>
		</div>
	</form>
</div>
{%endblock pagecontent%}

{%block extra_js%}
<script type="text/JavaScript">
function sendRenderReq() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
     alert(document.getElementById("id_nx").value);
    }
  };
  xhttp.open("POST", "submit", true);
  xhttp.send();
}
</script>
{% endblock extra_js %}