.formdiv:{
	background-color:red;
}

.formcont{
	background-color: red;
}
.test{
	background-color: #f0f0f0;
	align-content: center;
	max-width:500px;
	margin: 0 auto;
	text-align: center;
	border: 1px solid gray;
	border-radius: 30px;
}
#pricetagforms{
	background-color: #e0e0e0;
	border:1px solid gray;
	margin-left:10px;
	margin-right:10px;
	display:none;
}
#pricetagforms.visible{
	display:block;
}
#id_sides{
	height:90px;
}